* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #009DFF;
    --secondary-color: #f4f4f4;
    --text-color: #fff;
    --font-family: 'Arial, sans-serif';
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text-color);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin: 15px;
}