/* Tela de mobile 321px a 376 */
@media screen and (min-width: 321px) and (max-width: 376px) {
   .card1{
        margin-left: 30px;
        padding-right: 10px;
    }

    .card3 {
       margin: 25px 0px 0px 110px; 
    }

}

/* Tela de mobile 376px até 426px */
@media screen and (min-width: 377px) and (max-width: 426px) {
    .card1{
        margin-left: 50px;
        padding-right: 10px;
    }

    .card3 {
       margin: 25px 0px 0px 130px; 
    }
}

/* Tela de tablet 427px até 768px */
@media screen and (min-width: 427px) and (max-width: 768px) {
    
    #button {
        display: none;
    }

    .esconder {
        display: inline-block;

    }

    li {
        display: inline-block;
        padding-left: 15px;
    }

    .cards {
        width: 75%;
        height: 600px;
        position: absolute;
    }

    .card1{
        margin-left: 50px;
        padding-right: 10px;
    }

    .card3 {
        display: inline-block;
        margin: 0px 0px 0px 0px;
        padding-left: 10px;
    }

}

/* Tela de laptop de 769px até 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
   
    #button {
        display: none;
    }

    .esconder {
        display: inline-block;

    }

    li {
        display: inline-block;
        padding-left: 15px;
    }

    .esconder a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 0;
        transition: color 0.3s ease;
    }

    .esconder .laser {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0;
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue;
        border-radius: 2px;
        transition: all 0.3s ease;
    }
    
    .cards {
        width: 60%;
        height: 600px;
        position: absolute;
    }

    .card1{
        margin-left: 65px;
        padding-right: 10px;
    }

    .card3 {
        display: inline-block;
        margin: 0px 0px 0px 0px;
        padding-left: 10px;
    }


}

/* Tela de computador acima de 1025px */
@media screen and (min-width: 1026px) {
    #button {
        display: none;
    }

    .esconder {
        display: inline-block;

    }

    li {
        display: inline-block;
        padding-left: 15px;
    }

    .esconder a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 0;
        transition: color 0.3s ease;
    }

    .esconder .laser {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0;
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue;
        border-radius: 2px;
        transition: all 0.3s ease;
    }
    
   .cards {
        width: 40%;
        height: 600px;
        position: absolute;
    }

    .card1{
        margin-left: 50px;
        padding-right: 10px;
    }

    .card3 {
        display: inline-block;
        margin: 0px 0px 0px 0px;
        padding-left: 10px;
    }

}