@media screen and (min-width: 768px) {
<<<<<<< Updated upstream
   #button {
        display: none;
    }  

=======
    
    .button {
        display: none;
    }
    
>>>>>>> Stashed changes
    .esconder {
        display: block;
    }

<<<<<<< Updated upstream
    ul li {
        display: inline-block;
    }

    ul li a {
        display: inline-block;
        padding-left: 10px;
        padding-right: 5px;
    }

    .esconder a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease;
    }

    .esconder .laser {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0;
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

=======
    .text-menu {
        display: inline-block;
    }
    
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .header, .footer {
        text-align: center;
    }

    .nav-menu {
        flex-direction: column;
    }
    
>>>>>>> Stashed changes
}