@media screen and (min-width: 768px) {
   #button {
        display: none;
    }  

    .esconder {
        display: block;
    }

    ul li {
        display: inline-block;
    }

    ul li a {
        display: inline-block;
        padding-left: 10px;
        padding-right: 5px;
    }

}