/* Adicionado uma config global para o css para utilização no desing da aplicação */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    Trabalhar no root com variaveis globais para o css
    Exemplo:  --primary-color: #000000;
*/
:root{
 --primary-color: #D9D9D9;
 --second-color: #009DFF;
 --color-title: #0e2c59;
 --logo-color: #0070B6;
 --color-geral: #ffffff;
 --button-color: rgb(255 255 255 / 16%);
 --stroke-color: #000000;
 --background-burger: #f9f9f9;
}

/* Estilização do body */

body{
  height: 1000%;
    font-family: "Inter", sans-serif; /*Fonte do projetor usando Inter e sans-serif*/
    background-color: var(--primary-color);
    color: var(--stroke-color);
    line-height: 1.6;

}

#content-herder{
    position: relative;    
    background-color: var(--second-color);
    width: 100%;
    height: 400px;
}

#content-herder h1{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bolder;   
}

#content-herder #menu{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: normal;   
}

.Menu-fixed {
  width: 100%;
  height: 30px;
  position: fixed; 
  z-index: 999;
}

/* Menu */
.button {
  background: var(--button-color);
  border: 0;
  width: 56px;
  height: 56px;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
  opacity: 0.6;
  scale: 0.7;
  border-radius: 8px;
  transition: 0.25s;
}

.button:hover {
  opacity: 1;
  background: var(--button-color);
}

.logoH1 {
  color: var(--logo-color);
}


.burger {
  position: relative;
  width: 32px;
  border: 0;
}

.burger,
.burger::before,
.burger::after {
  display: block;
  border-radius: 2px;
  height: 2px;
  background: var(--background-burger);
  transition: 0.3s;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.burger::before {
  top: -8px;
}

.burger::after {
  top: 8px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scaleY(0.8) scaleX(1.2);
}

.burger-6.is-closed.hamRotate {
  transform: rotate(45deg) scale(1.2);
}

.line {
  fill: none;
  transition: 0.4s;
  stroke: var(--stroke-color);
  stroke-width: 3;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.burger-6.is-closed.ham1 .top {
  stroke-dashoffset: -98px;
}
.burger-6.is-closed.ham1 .bottom {
  stroke-dashoffset: -138px;
}

/* Texto do menu */

ul li{ 
  list-style: none;
}

ul li a {
    direction: rtl;
    text-decoration: none;
    color: var(--color-geral);
    
}


.esconder{
    display: none;
}

.mostra {
    display: block;
}

.text-menu {
  color: var(--stroke-color);
}

/* H2 com titulo do herder */

h2 {
  padding-top: 150px;
  text-align: center;
  color: var(--color-title);
  font-size: 32px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  
}

/* Cads com as fotos e informações do Dev */

.cards {
  width: 100%;
  max-width: 900px;         
  margin: 0 auto;           
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  flex-wrap: wrap;          
  gap: 30px;                
  padding: 60px 0px ;          
  position: relative;
}

.card1,
.card3 {
  margin: 0;                /* remove margens manuais */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto {
  height: 139px;
}

/* Card Murilo */

.nomeMurilo{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tipoDevMurilo{
  text-align: center;
}

.info1 {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
  10px 8px 20px rgba(92, 92, 92, 0.4),
  5px 4px 15px rgba(92, 92, 92, 0.3),
  2px 2px 8px rgba(92, 92, 92, 0.2);
}

.tecInformadas {
  display: inline-block;
  width: 21px;
  height: 23px;
}

.tec {
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 10px;
}

.info2 {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
  10px 8px 20px rgba(92, 92, 92, 0.4),
  5px 4px 15px rgba(92, 92, 92, 0.3),
  2px 2px 8px rgba(92, 92, 92, 0.2);
}

.nomeJulio {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tipoDevJulio {
  text-align: center;
}

.sobre {
  margin-top: 50px;
}

/* local das sections do site */

section {
  position: relative;
}

.sobre-txt {
  width: 90%;
  text-align: center;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 20px;
  color: var(--stroke-color);
}

.tecUsadas {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-slid {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.slides {
  display: flex;
  gap: 40px;
  transition: transform 0.5s ease-in-out;
}

.img-cads {
  width: 140px;
  text-align: center;
  flex-shrink: 0;
}

.icon-tec {
  width: 100px;
  height: 100px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.prev-btn {
  left: -10px;
}

.next-btn {
  right: -10px;
}

