/* Adicionado uma config global para o css para utilização no desing da aplicação */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    Trabalhar no root com variaveis globais para o css
    Exemplo:  --primary-color: #000000;
*/
:root{

}